[submodule "strangescout-frontend"]
	path = strangescout-frontend
	url = https://github.com/the-red-alliance/strangescout-frontend.git
[submodule "strangescout-backend"]
	path = strangescout-backend
	url = https://github.com/the-red-alliance/strangescout-backend.git
